<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <title>Todo list</title>
    <!-- 这里可以这么引入的原因是, app.js app.use(express.static('./public')); 指定了(中间件内容)-->
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <script src="/assets/todo-list.js"></script>
</head>
<body>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item ..." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <!-- <li>项目 1</li>
            <li>项目 2</li>
            <li>项目 3</li> -->
            <% todos.forEach(function(todo) { %>
                <li><%= todo.item %></li>
            <% }) %>
        </ul>
    </div>
</body>
</html>