body {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.wrapper {
    padding-right: 2.08333333%;
}


.row {
    display: flex;
}

.col {
    margin-left: 2.08333333%;
    margin-bottom: 1em;
    width: 6.25%;
    flex: 1 1 auto;
    background: rgb(255, 150, 150);
}