html {
    font-size: 10px;
}

h1 {
    font-size: 2.6rem;
    text-transform: capitalize;
    text-shadow: -1px -1px 1px #aaa,
        0px 4px 1px rgba(0, 0, 0, 0.5),
        4px 4px 5px rgba(0, 0, 0, 0.7),
        0px 0px 7px rgba(0, 0, 0, 0.4);
    text-align: center;
}

h1+p {
    font-weight: bold;
}

p {
    font-size: 1.4em;
    color: red;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;

}

p::first-line {
    letter-spacing: 2px;
    word-spacing: 4px;
}

