* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    padding: 20px;
}

#container {
    position: relative;
    width: 600px;
    height: 400px;
    border: 3px solid #333;
    overflow: hidden;
}

#list {
    position: absolute;
    z-index: 1;
    width: 4200px;
    height: 400px;
    margin: 0 auto;
}

#list img {
    float: left;
    width: 600px;
    height: 400px;
}

#buttons {
    position: absolute;
    left: 250px;
    bottom: 20px;
    z-index: 2;
    height: 10px;
    width: 100px;
}

#buttons span {
    float: left;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}

#buttons .on {
    background: orangered;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 180px;
    background-color: RGBA(0, 0, 0, .3);
    color: #fff;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}