* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,section,aside,nav,footer {
    padding: 20px;
}

header,footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
} 

/* new */
@font-face {
    font-family: 'lovatolight';
    src: url('fonts/Lovato-Light-webfont.eot');

    src: url('fonts/Lovato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lovato-Light-webfont.woff2') format('woff2'),
         url('fonts/Lovato-Light-webfont.woff') format('woff'),
         url('fonts/Lovato-Light-webfont.ttf') format('truetype'),
         url('fonts/Lovato-Light-webfont.svg#lovatolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_slabbold';
    src: url('fonts/josefinslab-bold-webfont.eot');
    src: url('fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinslab-bold-webfont.woff2') format('woff2'),
         url('fonts/josefinslab-bold-webfont.woff') format('woff'),
         url('fonts/josefinslab-bold-webfont.ttf') format('truetype'),
         url('fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    /* 总体使用 serif 字体 */
    font-family: lovatolight, serif;
    /* 整个网站字体的大小 */
    font-size: 10px;
}

h1, h2 {
    font-family: josefin_slabbold, sans-serif;
    /* 标题设置 letter-spacing 避免字间太过拥挤 */
    letter-spacing: 2px;
}

h1 {
    font-size: 5rem;
    text-align: center;
}
  
h2 {
    font-size: 3.2rem;
}

/* 设置文本缩进 */
section h2 + p {
    text-indent: 20px;
}

/* 为 body 文本设置合适的 letter-spacing & word-spacing */
p, li {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}

/* 设置 link, visited, focus, 和 hover 状态设置颜色 */
a {
    outline: none;
}

a[href*="http"] {
    padding-right: 19px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
}

a:link, a:visited {
    color: #a66;
}

/* 设置链接默认带下划线，但 hover 和 focus 时下划线消失 */
a:focus, a:hover {
    text-decoration: none;
}

/* 点击 a 属性, 被激活时候的样式 */
a:active {
    color: transparent;
    text-shadow: 0px 0px 1px #f00,
                 0px 0px 2px #f00,
                 0px 0px 3px black,
                 0px 0px 4px black;
}

/* lists */
ul, ol {
    margin: 1.6rem 0;
}

/* list-style-type 列表元素的外观 */
ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-latin;
}

/* nav menu */
nav ul {
    padding-left: 0;
    margin-top: 0.8rem;
}

nav li {
    list-style-type: none;
    margin-bottom: 2rem;
}

/* 样式化你的导航栏菜单，使它拥有与页面整体相匹配的外观 */
nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 2rem;
    border: 1px solid #a66; 
}

/* 导航栏鼠标点击和悬停 */
nav li a:focus, nav li a:hover {
    color: white;
    background: #a66;
}

/* 导航栏激活时 */
nav li a:active {
    color: white;
    background: black;
}